In [1]:
import pandas as pd
df = pd.read_csv('our_data.csv', index_col=0)
df.head(12)

,Sphere Distance,Time(s),Number of Steps,Algorithm,Metric Space,Number of Vertex,Total Path Weight,Network Type
0,523.128247,0.004987,26,A*,Sphere,211,150.6,drive
1,523.128247,0.004987,26,A*,Euclidean,211,157.4,drive
2,523.128247,0.004987,29,A*,Manhattan,211,157.4,drive
3,523.128247,0.004987,27,A*,Octile,211,157.4,drive
4,523.128247,0.003989,27,A*,Chebyshev,211,150.6,drive
5,523.128247,0.028923,144,Dijkstra,"H(x, y)=0",211,149.7,drive
6,523.128247,0.003989,17,A*,Sphere,340,151.4,bike
7,523.128247,0.003989,17,A*,Euclidean,340,151.4,bike
8,523.128247,0.002992,17,A*,Manhattan,340,151.4,bike
9,523.128247,0.002992,18,A*,Octile,340,157.3,bike
10,523.128247,0.002992,18,A*,Chebyshev,340,157.3,bike
11,523.128247,0.058842,248,Dijkstra,"H(x, y)=0",340,145.5,bike